<a href="https://colab.research.google.com/github/choklim17/CCINCOML_EXERCISE_COM23P/blob/main/Exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [53]:
# put your answer here
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

2. Display an element

- Display the fourth element 'April' in the `month` list

In [54]:
# put your answer here
month[3]

'April'

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [55]:
# put your answer here
month[8:]

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [56]:
# put your answer here
month[0:4]

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [57]:
# put your answer here
len(month)

12

- Get the element with the largest value of the month list using `max()`

In [58]:
# put your answer here
max(month)

'September'

- Get the element with the smallest value of the month list using `min()`

In [59]:
# put your answer here
min(month)

'April'

- Sort the months of the year by alphabetical order using the `sorted()` function

In [60]:
# put your answer here
sorted(month)

['April',
 'August',
 'December',
 'February',
 'January',
 'July',
 'June',
 'March',
 'May',
 'November',
 'October',
 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [13]:
# put your answer here
birthdate = 11, 25, 1996
month, day, year = birthdate

# print(str(month) + "/" + str(day) + "/" + str(year))

11/25/1996

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [18]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [20]:
# put your answer here
set_products = set(products)
print(set_products)

{'tablet', 'powerbank', 'headphones', 'printer', 'keyboard', 'monitor', 'mouse', 'laptop', 'smartphone', 'speakers', 'projector'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [22]:
# put your answer here
print("headphones" in products)

True

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [28]:
# put your answer here
favorites = {"food":"friedchicken", "color":"blue", "sport":"badminton", "drink":"mangojuice", "dessert":"cheesetart"}

# print(favorites["dessert"])

cheesetart

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [61]:
# put your answer here
for i in month:
  print(i)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [62]:
# put your answer here
for i in month:
  if (i[-1] == "r"):
    print(i)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [63]:
# put your answer here
for i in month:
  if (i[-1] != "r"):
    print(i)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [30]:
# put your answer here
for i in range(5):
  print("Christopher")

Christopher
Christopher
Christopher
Christopher
Christopher

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [64]:
# put your answer here
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []

for name in names:
  new_name = name.replace(" ", "_").lower()
  usernames.append(new_name)

print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [65]:
# put your answer here
for i in month:
  if (i[-1] == "r"):
    break
  print(i)

January
February
March
April
May
June
July
August

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [66]:
# put your answer here
def population_density(population, land_area):
  return population / land_area

print(population_density(150, 10))

15.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [68]:
# put your answer here
def averagesteps(list_of_steps):
  total_steps = 0
  for steps in list_of_steps:
    total_steps += steps

  print(total_steps / len(list_of_steps))

steps = [500, 750, 1000, 1250, 1500, 1750, 2000]
averagesteps(steps)

1250.0